 html.mod_lock,
 body.mod_lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;

  &.mod_page__main {

  }
  &.mod_page__inner {

  }
}

.header {
  position: relative;
  z-index: 10;
  flex: 0 0 100px;
  background-color: green;
  color: #fff;

  &-wrap {
    padding: 10px;
  }
}

.main {
  flex: 1 1 auto;

  &__add {

  }
  &__wrap {
    overflow: hidden;
    display: flex;
    background-color: blue;
    color: #fff;
    padding: 10px;
  }
  &__basic {
    overflow: hidden;
    background-color: silver;
    flex: 1 1 auto;
    order: 2;
    padding: 10px;
  }
  &__sidebar {
    padding: 10px;

    &.mod_theme__v1 {
      background-color: chocolate;
      min-width: 150px;
      order: 1;
    }
    &.mod_theme__v2 {
      background-color: darkcyan;
        min-width: 200px;
      order: 3;
    }
  }
}

.footer {
  position: relative;
  z-index: 10;
  flex: 0 0 100px;
  background-color: orange;
  color: #fff;

  &-wrap {
    padding: 10px;
  }
}
