$base_backgroundColor: #fff;
$base_fontSize:        16px;
$base_lineHeight:      1.25;
$base_color:           #353535;
$base_color__link:     #f4812a;

$container_width:       1054px;
$container_padding__rl: 15px;
$container-fluid_padding__rl: 40px;

$opensansReg_fontFamily: 'opensans-regular', Arial, Helvetica, sans-serif;

$media_phone:              'screen and (max-width: 768px)';
$media_phone-small:        'screen and (max-width: 520px)';
$media_tablet:             'screen and (max-width: 992px)';
$media_tablet-portrait:    'screen and (max-width: 992px) and (orientation: portrait)';
$media_tablet-landscape:   'screen and (max-width: 992px) and (orientation: landscape)';
$media_laptop:             'screen and (max-width: 1440px)';
$media_desktop:            'screen and (min-width: 993px)';
$media_desktop-large:      'screen and (min-width: 1600px)';
