head
  title This is a new great site
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui")
  //- meta(name="format-detection" content="telephone=no")

  //- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  //- link(rel="apple-touch-icon" href="static/img/apple-touch-icon-precomposed.png")
  //- link(rel="icon" href="static/img/favicon.png")
  //- <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
  //- meta(name="msapplication-TileColor" content="#000")
  //- meta(name="msapplication-TileImage" content="static/img/tileicon.png")

  //- <!--[if lt IE 9]><script src="static/js/helpers/IE9.js"></script><![endif]-->

  <!-- build:css -->
  link(rel="stylesheet" href="css/style.css" media="all")

  //- link(rel="stylesheet" href="css/plugins/plugin.css" media="all")
  <!-- endbuild -->
