<!-- build:js -->
script(src="js/libs/jquery.min.js")
//- script(src="js/libs/jquery-ui.min.js")
//- script(src="js/libs/modernizr.min.js")

//- script(src="js/plugins/autosize.js")

script(src="js/common.js")
script(src="js/components.js")
<!-- endbuild -->
