doctype html
html(lang="ru-RU")
  include ../metadata/head.pug

  body.mod_page__main
    header.header

    main.main
      div.main__add
      div.main__wrap
        div.main__basic
        aside.main__sidebar.mod_theme__v1

    footer.footer

    include ../metadata/scripts.pug
