doctype html
html(lang="ru-RU")
	include ../metadata/head.pug

	body.page_main
		header.l_header
		main.l_main
			div.l_main-add
			div.l_main-basic
				include ../components/section/section.pug
			aside.l_main-sidebar.theme__v1
		footer.l_footer