doctype html
html(lang="ru-RU")
  include ../metadata/head.pug

  body.mod_page__main
    header.header
      div.container
        div.header__wrap
          | Header

    main.main
      div.main__add
      div.container
        div.main__wrap
          div.main__basic
            | Basic
          aside.main__sidebar.mod_theme__v1
            | Sidebar

    footer.footer
      div.container
        div.footer__wrap
          | Footer

    include ../metadata/scripts.pug
