.section {
    padding: 2em;
        
        &__l-header {
            background-color: #000;
            padding: 1em;
            margin: 0 0 1em;
        }
        &__l-main {
            background-color: #000;
            padding: 1em;
            margin: 0 0 1em;
        }
        &__l-footer {
            background-color: #000;
            padding: 1em;
        }

        &__heading {
            margin: 0;
        }
        &__author {
            display: block;
            color: #000;
            padding: .5em;
            
            &-name {
    
            }
            &-date {
                
                &-time {
                    display: block;
                    font-size: 20px;

                    &.mod_margin__bottom {
                        margin-bottom: .5em;
                    }
                }
            }

            &.theme_some-desc {
                background-color: yellow;
            }
            &.theme_some-desc &-name {
                font-size: 42px;
            }
            &.theme_some-desc &-date {
                
                &-time {
                    
                }
            }
        }
    }

    .nav {
        
        &__list {

            &-item {

            }
            &-link {
                font-size: 25px;
            }

            &-item.theme_v2 {
                background-color: yellow;
            }
            &-item.theme_v2 &-link {
                font-size: 50px;
            }
        }
    }