<section class="section">
    <div class="container mod_width__auto">
        <header class="section__l-header">
            <h2 class="section__heading">Section heading</h2>
        </header>
        <div class="section__l-main">
            <nav class="nav">
                <h2 class="nav__heading mod_size__large">Nav heading</h2>
                <ul class="nav__list">
                    <li class="nav__list-item theme_v2">
                        <a href="" class="nav__list-link">Link</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="" class="nav__list-link mod_some-color">Link</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Link</a>
                        <ul class="nav__sublist">
                            <li class="nav__sublist-item">
                                <a href="" class="nav__sublist-item-link mod_underline">Sublink</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <nav class="nav-aside theme_v2">
                <h2 class="nav-aside__heading mod_size__large">Nav heading</h2>
                <ul class="nav-aside__list">
                    <li class="nav-aside__item">
                        <a href="" class="nav-aside__link">Link</a>
                    </li>
                    <li class="nav-aside__item">
                        <a href="" class="nav-aside__link mod_some-color">Link</a>
                    </li>
                    <li class="nav-aside__item">
                        <a href="" class="nav-aside__link">Link</a>
                        <ul class="nav-aside__sublist">
                            <li class="nav-aside__sublist-item">
                                <a href="" class="nav-aside__sublist-item-link">Sublink</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <footer class="section__l-footer">
            <span class="section__author-date-time mod_margin__bottom">15:15:15</span>
            <small class="section__author theme_some-desc">
                <div class="section__author-name">Dyadya Vanya</div>
                <div class="section__author-date">12/12/12 Ğ² <span class="section__author-date-time">15:15:15</span></div>
            </small>
        </footer>    
    </div>
    
</section>